<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="upds_ventas.Properties.Settings.upds_ventasConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=upds_ventas;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
		<!--<add name="upds_ventas_database"
			 connectionString=""/>-->
    </connectionStrings>
</configuration>